.timeline-highlight-label-start .label_govband{font-size: 10pt;color:#666;}
.timeline-highlight-label-end .label_govband{font-size: 10pt;color:#666;}
.timeline-horizontal .timeline-highlight-label-start {text-align:right;}